PORT=your-port-number-here
JWT_ACCESS_SECRET=your-access-secret-here
JWT_REFRESH_SECRET=your-refresh-secret-here
DATABASE_URL="mysql://username:password@localhost:port/project-name-here"
DATABASE_USER=your-username
DATABASE_PASSWORD=your-password
DATABASE_NAME=your-project-name
DATABASE_PORT=your-port-number-for-database
CLIENT_URL=your-client-url-here
REDIS_URL=your-redis-url-here
# NODE_ENV=test #while testing, add this line to bypass rate limiter